<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssginc.ewms.member.mapper.MemberMapper">

    <resultMap type="MemberVO" id="memberResult">
        <result column="MEMBER_NO" property="memberNo"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="MEMBER_EMAIL" property="memberEmail"/>
        <result column="MEMBER_PW" property="memberPw"/>
        <result column="MEMBER_NAME" property="memberName"/>
        <result column="MEMBER_PHONE" property="memberPhone"/>
        <result column="MEMBER_POST" property="memberPost"/>
        <result column="MEMBER_ADDR" property="memberAddr"/>
        <result column="MEMBER_BIRTH" property="memberBirth"/>
        <result column="MEMBER_DATE" property="memberDate"/>
        <result column="MEMBER_IsACTIVE" property="memberIsActive"/>
        <result column="MEMBER_ROLE" property="memberRole"/>
        <result column="MEMBER_WAREHOUSE_ID" property="warehouseId"/>
    </resultMap>

    <insert id="insertMember"
        parameterType="memberVO">
        INSERT INTO MEMBER
        (
            member_id, member_pw, member_name, member_email, member_phone, member_post,
            member_addr, member_birth, member_role, member_warehouse_id
        )
        VALUES(
                  #{memberId}, #{memberPw},#{memberName},#{memberEmail},#{memberPhone},#{memberPost},
                  #{memberAddr},#{memberBirth},#{memberRole},#{warehouseId}
              )
    </insert>

    <!--    MemberMapper.java와 연결이 됨.-->
    <select id="selectMemberById"
            resultMap="memberResult">
        select * from member where member_id = #{memberId}
    </select>

</mapper>