<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssginc.ewms.dashboard.mapper.DashboardMapper">


    <select id="selectIncomeListByType" resultType="com.ssginc.ewms.dashboard.dto.IncomeResponseDto">
        SELECT
        <choose>
            <when test="type == 'daily'">
                DATE_FORMAT(income_date, '%Y-%m-%d') AS income_date
            </when>
            <when test="type == 'monthly'">
                DATE_FORMAT(income_date, '%Y-%m') AS income_date
            </when>
            <when test="type == 'yearly'">
                DATE_FORMAT(income_date, '%Y') AS income_date
            </when>
        </choose>,
        SUM(actual_quantity) AS income_quantity
        FROM
        income
        WHERE
        actual_quantity IS NOT NULL
        GROUP BY
        <choose>
            <when test="type == 'daily'">
                DATE_FORMAT(income_date, '%Y-%m-%d')
            </when>
            <when test="type == 'monthly'">
                DATE_FORMAT(income_date, '%Y-%m')
            </when>
            <when test="type == 'yearly'">
                DATE_FORMAT(income_date, '%Y')
            </when>
        </choose>
        ORDER BY
        income_date DESC
        LIMIT 10
    </select>


</mapper>
