<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssginc.ewms.inventory.mapper.InventoryMapper">

    <!--  현재 창고에 저장된 모든 재고현황을 검색하는 쿼리  -->
    <select id="getProductInventory"
            parameterType="int"
            resultType="inventoryStateVO">
        SELECT i.inventory_id, s.sector_name, i.product_id,
               p.product_name, c.category_name,
               su.supplier_name, p.income_unit_price,
               p.outgoing_unit_price, i.inventory_quantity,
               i.expiration_date
        FROM inventory i
                 JOIN sector s ON i.sector_id = s.sector_id
                 JOIN product p ON i.product_id = p.product_id
                 JOIN category c ON p.category_id = c.category_id
                 JOIN supplier su ON p.supplier_id = su.supplier_id
        WHERE s.warehouse_id = #{warehouseId} AND p.discontinued_status = 0
    </select>

    <!--  입력한 키워드에 따라 재고현황을 검색하는 쿼리  -->
    <select id="searchInventory"
            parameterType="string"
            resultType="inventoryStateVO">
        SELECT i.inventory_id, s.sector_name, i.product_id,
        p.product_name, c.category_name,
        su.supplier_name, p.income_unit_price,
        p.outgoing_unit_price, i.inventory_quantity,
        i.expiration_date
        FROM inventory i
        JOIN sector s ON i.sector_id = s.sector_id
        JOIN product p ON i.product_id = p.product_id
        JOIN category c ON p.category_id = c.category_id
        JOIN supplier su ON p.supplier_id = su.supplier_id
        WHERE s.warehouse_id = 1 AND p.discontinued_status = 0
        <if test="sectorName != null and sectorName != ''">
            AND s.sector_name LIKE CONCAT('%', #{sectorName}, '%')
        </if>
        <if test="startDate != null and startDate != ''">
            <![CDATA[AND i.expiration_date >= #{startDate}]]>
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[AND i.expiration_date <= #{endDate}]]>
        </if>
        <if test="productName != null and productName != ''">
            AND p.product_name LIKE CONCAT('%', #{productName}, '%')
        </if>
        <if test="supplierName != null and supplierName != ''">
            AND su.supplier_name LIKE CONCAT('%', #{supplierName}, '%')
        </if>
    </select>

    <!-- 현재 창고에서의 재고조정에 필요한 데이터를 검색하는 쿼리  -->
    <select id="getAdjustInventoryStatus"
            parameterType="int"
            resultType="inventoryAdjustVO">
        SELECT i.inventory_id, s.sector_name, i.product_id,
               p.product_name, p.income_price,
               p.outgoing_price, i.inventory_quantity,
               i.real_inventory_quantity, i.expiration_date
        FROM inventory i
                 JOIN sector s ON i.sector_id = s.sector_id
                 JOIN product p ON i.product_id = p.product_id
                 JOIN category c ON p.category_id = c.category_id
                 JOIN supplier su ON p.supplier_id = su.supplier_id
        WHERE p.discontinued_status = 0
        <if test="wareHouseId != 0">
            AND wareHouseId = #{warehouseId}
        </if>
    </select>

    <select id="getInventoryCapacityByInventoryId" resultType="int">
        SELECT p.unit_capacity * i.inventory_quantity
        FROM product p
        INNER JOIN inventory i ON i.product_id = p.product_id
        WHERE i.inventory_id = #{inventoryId}
    </select>

    <select id="getTotalInventoryById"
            resultType="int">
        SELECT SUM(i.inventory_quantity)
        FROM inventory i
        INNER JOIN sector s ON s.sector_id = i.inventory_id
        INNER JOIN warehouse w ON s.warehouse_id = w.warehouse_id
        GROUP BY w.warehouse_id, i.product_id
        HAVING w.warehouse_id = #{warehouseId} AND i.product_id = #{productId}
    </select>

    <select id="getInventoryQuantityById"
            resultType="int">
        SELECT inventory_quantity
        FROM inventory
        WHERE inventory_id = #{inventoryId}
    </select>

    <!-- 선택된 재고의 실사 재고량을 수정 -->
    <update id="updateRealInventory"
            parameterType="int">
        UPDATE inventory SET real_inventory_quantity = #{realQuantity}
        WHERE inventory_id = #{inventoryId}
    </update>

    <!-- 선택된 재고의 재고량을 실사 재고량과 같게 조정 -->
    <update id="updateQuantity"
            parameterType="int">
        UPDATE inventory SET inventory_quantity = #{realQuantity}
        WHERE inventory_id = #{inventoryId}
    </update>

    <update id="updateSector">
        UPDATE inventory SET sector_id = #{sectorId}
        WHERE inventory_id = #{inventoryId}
    </update>

    <delete id="deleteInventories"
            parameterType="list">
        DELETE FROM inventory
        WHERE inventory_id IN
        <foreach item="inventoryId"
                 collection="list"
                 open="(" separator="," close=")">
            #{inventoryId}
        </foreach>
    </delete>
</mapper>