<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssginc.ewms.shipper.mapper.ShipperMapper">

    <select id="findShipperList"
            resultType="shipperVO">
        SELECT * FROM shipper
    </select>

    <select id="getShipperByName"
            resultType="shipperVO">
        SELECT *
        FROM shipper WHERE shipper_name = #{shipperName}
    </select>
</mapper>